@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');


:root{
	--color-green: #8AB91D;
	--color-red: #BE1E2D;
	/* --color-blue: #137676; */
	--color-blue: #526eff;
	--color-yellow: #ffae20;
	--color-pink: #fd326f;

	--color-dark-1: hsl(0, 0%, 15%);
	--color-dark-2: hsl(0, 0%, 40%);
	--color-dark-3: hsl(0, 0%, 80%);
	--color-dark-4: hsl(0, 0%, 90%);

	/* Bootstrap Colors */
	--color-bs-dark: hsl(210, 10%, 22%);
	--color-bs-secondary: hsl(208, 7%, 45%);
	--color-bs-primary2: hsl(210, 100%, 42%);

	--shadow-light: 0px 5px 10px 2px hsla(0, 0%, 70%, 0.5);
	--shadow-dark: 0px 5px 10px 2px hsla(0, 0%, 30%, 0.5);

	--font-size-h4: 1.2rem;

}


html,body{
	width: 100vw;
	height: 100vh;
}
body{
	background: hsl(0, 0%, 95%);
	color: hsla(0, 0%, 10%);

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
h4{
	font-size: var(--font-size-h4);
	font-weight: 700;
}
/* h2{
	font-size: 1.7rem;
	font-weight: 700;
} */
p{
	font-size: 1rem;
}

p,label{
	margin-bottom: 2px!important;
}

a:hover{
	text-decoration: none;
}


main{
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;

	/* padding-top: 20px; */

	/* background: rgb(138,185,29);
	background: -moz-linear-gradient(315deg, rgba(138,185,29,0.14049369747899154) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(315deg, rgba(138,185,29,0.14049369747899154) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(315deg, rgba(138,185,29,0.14049369747899154) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ab91d",endColorstr="#ffffff",GradientType=1); */

	background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));

	background-image: -o-linear-gradient(bottom, #cfd9df 0%, #e2ebf0 100%);

	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}




/*------BOOKING/NEW------*/
.new-booking section{
	border-radius: 10px;
	display: none;
}
.new-booking section.show{
	display: block;
}


section.book-room-header{
	border-radius: 10px;
}


section.room-choose{
	border: 4px solid transparent;
	overflow: hidden;
	cursor: pointer;

	-webkit-transition: -webkit-transform 0.1s ease-out;

	transition: -webkit-transform 0.1s ease-out;

	-o-transition: transform 0.1s ease-out;

	transition: transform 0.1s ease-out;

	transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.room-choose:hover{
	-webkit-transform: scale(1.02);
	    -ms-transform: scale(1.02);
	        transform: scale(1.02);
}
.room-choose:hover .room-img-container span{
	opacity: 0.7;
}
.room-choose.active{
	border: 4px solid var(--color-bs-dark);
	background: var(--color-bs-dark);
}
.room-choose.active .room-img-container span{
	opacity: 0.9;
}

.room-img-container{
	position: relative;
}
.room-img-container span{
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	bottom: 10px;
	left: 10px;
	line-height: 100px;
	opacity: 0.5;
	font-weight: 700;
	font-size: 100px;
	color: white;

	-webkit-transition: opacity 0.1s ease-in-out;

	-o-transition: opacity 0.1s ease-in-out;

	transition: opacity 0.1s ease-in-out;
}

.room-tags{
	min-height: 70px;
	text-align: center;
	padding: 10px;
}
.room-tags .badge-pill{
	border-radius: 5px;
}



section.calendar{
	font-size: 1.2rem;
	padding: 10px;
}

.calendar-head{
	text-align: center;
	padding-bottom: 10px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.calendar-title{
	display: inline-block;
	width: 150px;
}

.calendar-month-change{
	border-radius: 50%;
	width: 26px;
	height: 26px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.calendar-month-change.disabled{
	opacity: 0.4;
	cursor: not-allowed;
}
.calendar-month-change:hover:not(.disabled){
	background: var(--color-bs-dark);
	color: white;
}
.calendar-month-change i{
	position: relative;
	bottom: 1px;

	font-size: 20px;
	line-height: 20px;
}
.calendar-month-change i.fa-chevron-left{
	right: 2px;
}
.calendar-month-change i.fa-chevron-right{
	left: 2px;
}

.calendar-days{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.calendar-day{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.calendar-header{
	text-align: center;
	color: hsla(0, 0%, 0%, 0.4);
}

.calendar-date{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin: 5px;

	cursor: pointer;
	border-radius: 10px;
}
.calendar-date.other-month{
	color: hsla(0, 0%, 0%, 0.2);
}
.calendar-date:hover{
	background: var(--color-bs-secondary);
	color: white;
}
.calendar-date.active{
	background: var(--color-bs-dark)!important;
	color: white;
}

.calendar-date.disabled:hover{
	background: none!important;
	cursor: default;
}


section.choose-time{
	border-radius: 10px;
}

.times-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.choose-time span{
	display: inline-block;
	margin: 8px;
	cursor: pointer;
	width: 50px;
	text-align: center;

	border-radius: 5px;
	border: 1px solid darkgray;
	color: black;
	font-size: 1rem;
}
.choose-time span:hover{
	background: var(--color-bs-secondary);
	color: white;
}
.choose-time span.active{
	background: var(--color-bs-dark)!important;
	color: white;
}

.choose-user select{
	border-radius: 10px;
}


section.complete-booking{

}

/* #confirmBtn span:empty{
	display: inline-block;
	position: relative;
	top: 4px;
	border-radius: 5px;
	background: var(--color-bs-primary2);
	width: 40px;
	height: 18px;
}
span#confirmDate:empty{
	width: 80px;
} */






/*------ADMIN HOME------*/
.sub-header{
	background: var(--color-dark-1);
	background: hsla(0, 0%, 100%, 0.6);
	color: #fff;
	color: #111;
	text-align: right;
	font-family: 'Inconsolata', monospace;

}
.sub-header #time{
	margin-right: 20px;
}



.home-module{
	margin-bottom: 30px;
	/* border-radius: 4px; */

	background: #fff;
	-webkit-box-shadow: var(--shadow-light);
	        box-shadow: var(--shadow-light);
}

.home-module .module-header{
	padding: 10px;
	border-bottom: 1px solid hsl(0, 0%, 85%);
}
.home-module .module-header p{
	font-weight: 700;
	font-size: 1.2rem;
}

.home-module .module-body{
	padding: 10px;
}


.home-module.module-qa{
}
.home-module.module-qa .module-header{
	/* background: hsla(0, 0%, 100%, 1); */
}
.home-module.module-qa .module-body{

	/* display: flex;
	flex-direction: row;
	justify-content: center; */
	position: relative;
}
.qa-color-block{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;

	width: 100%;
	height: 150px;
	background: #8ab91d;
	background-image: url('../images/jupiter.svg');
}

.quick-actions{
	margin: 90px 20px 20px 20px;
	z-index: 10;
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;

}
.quick-action{
	padding-bottom: 10px;
	padding: 10px;
	cursor: pointer;
	width: 50%;
}
.quick-action-body{
	padding: 20px;
	background: #fff;
	font-weight: 700;
	color: #555;
	-webkit-box-shadow: var(--shadow-light);
	        box-shadow: var(--shadow-light);
	height: 100%;
	-webkit-transition: -webkit-transform 0.1s ease-in;
	transition: -webkit-transform 0.1s ease-in;
	-o-transition: transform 0.1s ease-in;
	transition: transform 0.1s ease-in;
	transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;

}
.quick-action-body:hover{
	-webkit-transform: scale(1.02);
	    -ms-transform: scale(1.02);
	        transform: scale(1.02);

}
.quick-action-body i{
	font-size: 40px;
	margin-bottom: 5px;
}
.quick-action i.fa-user-plus{
	/* color: var(--color-green); */
	/* font-size: 40px; */
}
.quick-action i.fa-user-minus{
	/* color: var(--color-pink); */
}
.quick-action i.fa-id-badge{
	/* color: var(--color-yellow); */
}
.quick-action small{
	display: block;
	line-height: 14px;
}




.timeline{
	list-style-type: none;
	padding: 0;
	padding: 0 20px;
}
.timeline li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	height: 25px;
}
/*there are no more events at this time, so add progress bar*/
.timeline li.timeline-progress{
	/*TODO: make this height taller for bookings more than 1 hour appart */
	height: 60px;
}
.timeline li.tl-gap-after{
	margin-bottom: 5px;
}

.timeline li p:first-child{
	font-size: 1.2rem;
	font-weight: 500;
	width: 48px;
}


.timeline li > div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	position: relative;
	top: 6px;
	width: 50px;
	height: 100%;
	/* padding-top: 6px; */
}
.timeline li .tl-dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 3px solid var(--color-dark-3);

	/* margin-bottom: 6px; */

	/* margin: 8px 20px 0px; */
	/* background: #fff; */
}
.timeline li .tl-dot.active{
	border-color: var(--color-green);
}

.timeline li .tl-progress-container{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;

	background: var(--color-dark-3);
	width: 4px;

	position: relative;
}
.timeline li .tl-progress-bar{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 0%;
	background: var(--color-green);
}
.timeline li:not(.timeline-progress) .tl-progress-bar{
	/* height: 100%; */
}


.timeline li p:last-child{
	/* flex:1; */
	font-weight: 300;
}
.timeline li p:last-child span:first-child{
	margin-left: 10px;
}
.tl-tag{
	background: var(--color-dark-4);
	color: var(--color-dark-2);
	font-size: 0.8rem;
	padding: 2px 5px;
	/* margin-left: 10px; */
	border-radius: 5px;
}
